logs/
outputs/
.vscode/
__pycache__/
docs/
data/
rag_data/
*.pyc
*.pkl
*.log
*.sqlite3
.MD
# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Images / event frames
*.jpg
*.png

# VSCode
.vscode/

# Mac
.DS_Store
